.categories {
    background-color: white;
  padding: 40px 24px;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.categories img {
  width: 80px;
}

.categories p {
  font-size: 15px;
  margin-top: 10px;
}
.section {
    background-color: white;
  padding: 0 24px 40px;
}

.section h2 {
  margin-bottom: 16px;
  margin-top: 45px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 80px; 
  margin-left: 80px;
}

.card {
  padding: 12px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.book {
  border-radius: 12px;
  margin: auto;
  width: 150px;
  height: 200px;
}

.info {
  margin-top: 12px;
}

.info h4 {
  font-size: 14px;
}

.info p {
  font-size: 12px;
  color: #6b7280;
}

.stars {
  color: #facc15;
  font-size: 14px;
  margin-top: 4px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
  width: 1fr;
}

.overlay-box {
  background: white;
  padding: 12px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.overlay-box button {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cart {
  background: #2563eb;
  color: white;
  border: none;
}

.btn-cart:hover { background: #1d4ed8; }

.btn-view {
  background: white;
  border: 1px solid #9ca3af;
}

.btn-view:hover { background: #f3f4f6; }
