*{
    margin: 0;
    font-family: 'Times New Roman';
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.header{
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    background-color: #FFFCF5;
}
.nav{
    display: flex;
    gap: 10px;
}
.logo{
    display: flex;
    flex-grow: 0;
}
.search-bar{
    flex-grow: 1;
    display: flex;
    padding: 10px;
}
.search-icon{
    flex-grow: 0;
    border: 1px solid rgb(187, 158, 100);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30px;
    padding: 5px;
    box-sizing: border-box;
}
.search{
    flex-grow: 1;
    border: 1px solid rgb(187, 158, 100);
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.search:focus{
    border-left: none;
    outline: none;
}
.right-bar{
    flex-grow: 0;
    display: flex;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}

.cart{
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(187, 158, 100);
    display: flex;
    width: 90px;
}
.menu{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.toggle-menu{
    display: none;
}
.burger{
    display: none;
}
.page {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}
.page a:hover, .sign:hover, .cart:hover{
    color: #8e6913;
}


.content{
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 100px;
    background-color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #FFFCF5;
    border-top: 1px solid #eee;
    gap: 20px;
}
.link{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    text-align: center;
}
h3{
    font-weight: 500;
    color: rgb(69, 78, 91);
}
.more{
    color: blue;
}

.end{
    display: flex;
    justify-content: center;
}
@media (max-width:600px) {
    .link{
        grid-template-columns: 1fr;
    }
    
    .search{
        width: 100px;
    }
    .burger{
        display: block;
        cursor: pointer;
        user-select: none;
    }
    .page{
        display: none;
    }
    .toggle-menu:checked ~ .page{
        display: flex;
    }
    
    
}