.content{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
}
.fill-inf{
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    align-items: center;
}
.content input{
    border: 1px solid rgb(181, 142, 3);
    border-radius: 10px;
    padding: 5px;
}
.summary{
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.receipt{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
}
@media (max-width:600px) {
    .content{
        grid-template-columns: 1fr;
    }
    
}

@media (min-width:600px) {
    .content{
        padding-left: 200px;
        padding-right: 200px;
    }
    .fill-inf{
        padding-left: 50px;
        padding-right: 50px;
    }
}